<div class="row">
    <div class="col-md-12">
        <form (ngSubmit)="onEditPost()" [formGroup]="postForm">
            <h3>Update Post</h3>
            <hr />
                <div class="mb-3">
                    <label>Title</label>
                    <input type="text" class="form-control" formControlName="title"/>
                    <div *ngIf="postForm.get('title')?.touched && !postForm.get('title')?.valid">
                        <div *ngIf="postForm.get('title')?.errors?.['required']">
                            Title is Required
                        </div>
                        <div *ngIf="postForm.get('title')?.errors?.['minlength']">
                            Title Should Be minimum 6 character
                        </div>
    
                    </div>
                </div>
    
                <div class="mb-3">
                    <label>Description</label>
                    <textarea class="form-control" formControlName="description"></textarea>
                    <div *ngIf="postForm.get('description')?.touched && !postForm.get('description')?.valid">
                        <div *ngIf="postForm.get('description')?.errors?.['required']">
                            Title is Required
                        </div>
                        <div *ngIf="postForm.get('description')?.errors?.['minlength']">
                            Title Should Be minimum 10 character
                        </div>
    
                    </div>
                </div>
                <div class="my-3">
                    <button type="submit" class="btn btn-primary">Update Post</button>
                </div>
                
          
        </form>
    </div>
</div>